
header{
    background-image: url(../img/pexels-david-mcbee-392031.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





.row{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(15px) saturate(160%) contrast(45%) brightness(140%);
    height: 200px;
    width: 100%;
    margin: 100px auto;
   }
   



.estilos-titulo-header{
    font-size: 80px;
}

.estilos-slogan-header{
    font-size: 20px;
}