
header{
   /* background-image: url(../img/pexels-david-mcbee-392031.jpg);*/
    background-color: var(--general-color);
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.navbar{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    box-shadow: 0 5px 25px #000;
 }


.row{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(15px) saturate(160%) contrast(45%) brightness(140%);
    height: 200px;
    width: 100%;
    margin: 80px auto;
    border-radius: 1% ;
    box-shadow: 0 5px 25px #000;
   }
   



.estilos-titulo-header{
    font-size: 80px;
    font-family: 'Righteous', cursive;
}

.estilos-slogan-header{
    font-size: 20px;
}