
body {
  font-family: "Teko", sans-serif;
  letter-spacing: 0.5px;
  background-image: url(../img/azan-rasheed-XJ5mL9okXiI-unsplash.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand{
    font-size: 25px !important;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  box-shadow: 0 5px 25px #000;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
}

.contenedor {
  height: 4000px;
}
