:root {
    --navbar-color: #005691;
}




body{
    font-family: 'Spartan', sans-serif; 
    letter-spacing: 0.5px;
    
}

header{
    background-image: url(../img/pexels-david-mcbee-392031.jpg);
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.navbar{
   background-color: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
   -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
 
}



