





.on-construction {
    height: 150px;
    max-width: 400px;
    width: 100%;
    border: 1px solid blue;
    border-radius: 30px;
    background-color: #0000ff;
    margin: 150px auto;
}


.text-div > h1 {
     color: #fff;
     line-height: 150px;
     font-family: 'Spartan', sans-serif;
     font-size: 25px;
}
