body{
    font-family: 'Spartan', sans-serif; 
    letter-spacing: 0.5px;
    
}

.navbar{
   background-color: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
   -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
 
}



